@(message: RetailRecommands, productname: String) 

                  
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Buying Behaviour</h3>
			</div>
			<div class="panel-body">
			 <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>	
			 <h2><small>Recommanded Product : </small> <p class="text-uppercase">@productname</p></h2>
			  @scripts			                           
				<div id="pieChart" class="chart-holder"></div>
			</div>
		</div>
	</div><!-- /span12 -->
</div><!-- /row -->

@scripts = {

<script>
   $(function () {   
 
   //datar = "@message(1)".toJson("@message", true);
   //jQuery.each("@message", function(i, val) {
   //    console.log(val);
   // });
  // parseData = data.replaceAll("&quot;", "'");
  // var data = $.parseJSON("@message");
  // console.log(data);
   
	$('#pieChart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: null
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            
            data: [
                ["@message(0).productId",   parseFloat("@message(0).nooforders") ],
                ["@message(1).productId",   parseFloat("@message(1).nooforders")],
                {
                    name: "@message(2).productId",
                    y: parseFloat("@message(2).nooforders"),
                    sliced: true,
                    selected: true
                },
                ["@message(3).productId",   parseFloat("@message(3).nooforders")],
                ["@message(4).productId",   parseFloat("@message(4).nooforders")]               
            ]
        }]
    });
    });
    </script>
    }