@(message: List[String]) 



                  
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Buying Behaviour</h3>
			</div>
			<div class="panel-body">
			 <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
				 @scripts
                   </ul>
                   <input type="text" value="">
				<div id="pieChart" class="chart-holder"></div>
			</div>
		</div>
	</div><!-- /span12 -->
</div><!-- /row -->

@scripts = {

<script>
   $(function () {
   console.log("++++++++++++++++++++++++++++++++++++++");
   console.log(JSON.stringify("@message"));
   data = "@message";
   parseData = data.replace("&quot;", "\"");
   var data = $.parseJSON("@message");
   console.log(data);
   
	$('#pieChart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: null
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['Firefox',   45.0],
                ['IE',       26.8],
                {
                    name: 'Chrome',
                    y: 12.8,
                    sliced: true,
                    selected: true
                },
                ['Safari',    8.5],
                ['Opera',     6.2],
                ['Others',   0.7]
            ]
        }]
    });
    });
    </script>
    }