@(message: String)

<div class="jumbotron">
	<h2 class="text-center">
	<form id="loginform" class="form-vertical" action="index.html">
		<p>
			File Upload
		</p>
		<div class="input-group input-sm">
			<span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
			<input type="email" name="email" class="form-control" placeholder="Email" id="email" value="">
		</div>

		<div class="input-group">
			<span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i></span>
			<input type="text" name="apikey" class="form-control" id="apikey" placeholder="ApiKey">
		</div>
		<div class="form-actions clearfix">
			<div class="pull-right">
				<a href="https://www.megam.co/forgot_password" class="flip-link to-recover grey" target="_blank"> Lost API Key?</a>
			</div>
			<input type="submit" class="btn btn-block btn-primary btn-default" value="Yup. Init Me" />
		</div>		
	</form></h2>
</div>

